@model IEnumerable<DatabaseConnectionUsingAdonet.Models.Category>




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body class="container">
    <p>
        @Html.ActionLink("Create New", "Create")

        @using (Html.BeginForm("Index", "Category", FormMethod.Get))
        {
            <div class="input-group w-50 float-end mb-3">
                <input type="text" name="search" class="form-control form-control-sm"
                       value="@Request["search"]" />
                <input type="submit" value="Search" class="btn btn-info input-group-text" />
            </div>
        }
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>

        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="bg-secondary">
                <td colspan="4">
                    No Categories Available
                </td>
            </tr>
        }

    </table>
</body>
</html>