@model IEnumerable<CURDUsingEntityFremeworkDemo.Models.Category>



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <h1 class="bg-dark text-white p-2 m-3 text-center">Hemansh Web Page MVC 5</h1>
        </div>
        <ul class="nav nav-pills bg-warning">
            <li class="nav-item me-3 p-2">
                @Html.ActionLink("Home Page", "Index", null, new { @class = "btn btn-info btn-outline-primary text-white" })
            </li>

            <li class="nav-item me-3 p-2">
                @Html.ActionLink("Create Employee", "Create", null, new { @class = "btn btn-primary" })
            </li>

        </ul>

    </div>
    <div>
        @foreach (var category in Model)
        {
            <h3>@category.Name</h3>
            <ul>
                @foreach (var subcategory in Model)
                {
                    <li>
                        @subcategory.
                        <ul>
                            @foreach ( product in Model)
                            {
                                <li>
                                    @product.
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <hr />
    <div class="bg-body-secondary ">
        <p>Hemansh TechSolution Private LTD. &copy;Copy Right|2024 </p>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
